Repository forcir/eslint-config-forcir: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --quiet, yarn format --write

update README.md
  README.md
Due: yarn format --write

add .editorconfig
  .editorconfig
Due: none

update .lintstagedrc
  .lintstagedrc
  README.md
Due: yarn format --write

v1.1.0
  package.json
Due: yarn format --write

update CHANGELOG
  CHANGELOG.md
Due: yarn format --write

v1.1.0 (#1)
  CHANGELOG.md
  package.json
Due: yarn format --write

add experimental file
  README.md
  experimental.js
  index.js
Due: yarn lint --quiet, yarn format --write

v1.2.0
  package.json
Due: yarn format --write

add `forcir/experimental`
  CHANGELOG.md
  README.md
  experimental.js
  index.js
  package.json
Due: yarn lint --quiet, yarn format --write

update README
  README.md
Due: yarn format --write

update internally used eslint config
  package.json
  yarn.lock
Due: yarn format --write

update next.js config
  next.js
Due: yarn lint --quiet, yarn format --write

v1.2.1
  package.json
Due: yarn format --write

update next.js config (#3)
  next.js
  package.json
Due: yarn lint --quiet, yarn format --write

Update CHANGELOG.md
  CHANGELOG.md
Due: yarn format --write

fix nextjs plugin => config
  next.js
Due: yarn lint --quiet, yarn format --write

v1.2.2
  package.json
Due: yarn format --write

update CHANGELOG.md
  CHANGELOG.md
Due: yarn format --write

fix nextjs plugin => config (#4)
  CHANGELOG.md
  next.js
  package.json
Due: yarn lint --quiet, yarn format --write

update readme and linter rules to remove disable react/display-name
  README.md
  frontend.js
Due: yarn lint --quiet, yarn format --write

v1.2.3
  package.json
Due: yarn format --write

update eslint-plugin-react version, add peerDependenciesMeta field
  package.json
  yarn.lock
Due: yarn format --write

Improve React and Next compatibility (#5)
  CHANGELOG.md
  README.md
  frontend.js
  package.json
  yarn.lock
Due: yarn lint --quiet, yarn format --write

add .nvmrc and update README.md
  .nvmrc
  README.md
Due: yarn format --write

change node version required
  README.md
  package.json
  yarn.lock
Due: yarn format --write

v2.0.0
  package.json
Due: yarn format --write

update github actions
  .github/workflows/ci.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
Due: none

temporarily disable linter
  package.json
Due: yarn format --write

change required node versions (#6)
  .github/workflows/ci.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .nvmrc
  CHANGELOG.md
  README.md
  package.json
  yarn.lock
Due: yarn format --write

update eslint config
  package.json
  yarn.lock
Due: yarn format --write

add overrides for next pages
  .nvmrc
  next.js
Due: yarn lint --quiet, yarn format --write

Path conditions:
  yarn lint --quiet: any of: *.{ts,tsx,js}
  yarn format --write: any of: *.{ts,tsx,js,json,graphql,md}
