Repository forcir/eslint-config-forcir: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --quiet, yarn format --write

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "yarn lint --quiet"
  ],
  "*.{ts,tsx,js,json,graphql,md}": [
    "yarn format --write"
  ]
}

v2.0.1
  package.json
Due: yarn format --write

update README.md
  README.md
Due: yarn format --write

add overrides for next.js pages (#7)
  .nvmrc
  CHANGELOG.md
  README.md
  next.js
  package.json
Due: yarn lint --quiet, yarn format --write

update .nvmrc and README.md
  .nvmrc
  README.md
Due: yarn format --write

update peer dependancies
  README.md
  package.json
Due: yarn format --write

v3.0.0
  package.json
Due: yarn format --write

update CHANGELOG.md
  CHANGELOG.md
Due: yarn format --write

update peer dependencies (#8)
  CHANGELOG.md
  README.md
  package.json
Due: yarn format --write

add format to github action
  .github/workflows/ci.yml
Due: none

update README.md to use CDN assets
  README.md
Due: yarn format --write

update eslint version
  package.json
  yarn.lock
Due: yarn format --write

update README.md and package manifest
  .eslintrc
  .github/assets/common.svg
  .github/assets/slate.svg
  README.md
  package.json
Due: yarn format --write

update LICENSE
  LICENSE
Due: none

update workflow actions and README
  .github/workflows/ci.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  README.md
Due: yarn format --write

update README and workflows
  README.md
  package.json
  yarn-error.log
Due: yarn format --write

remove log files and add them to gitignore
  .gitignore
  yarn-error.log
Due: none

update CI workflow name
  .github/workflows/ci.yml
Due: none
